include README.md
include LICENSE.txt
recursive-include int3 *.py
recursive-include int3/_vendored *.py
recursive-include int3/platform/linux/syscalls/tables syscalls-*
include int3/_vendored/llvmlite/binding/libllvmlite.so
